
*{
    box-sizing: border-box;
}

main{
    max-width: 800px;
    margin:auto;
    padding: 50px;
    white:90%;


    
}

form {

    display:grid;
    grid-template-columns:1fr, 1fr;
    gap: 20px;

    @media (max-width: 800px)
    {
        grid-template-columns:1fr;
        
    } 
    
  
}

label {

    display:block;
    font: weight 700;
    padding: 10x;
    min-height: 40px;
    cursor:pointer;
    color: red;

        
}

grupo_input{
    position: relative;
    z-index: 90;

}

input_style {
    width:100%;
    background-color: #fff;
    border-radius: 5px;
    line-height: 45px;
    padding: 0  40px 0 10px;
    transition: .3s ease all;
    border: 3px solid transparent; 

    /* input:focus{
        border: 3px solid  ${"#0075FF"};
        outline: none;
        box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
    } */

}


error{
    font-size: 12px;
    margin-bottom:0;
    color: red; 
    /* display: none; */

}

 


