#principal {
  height: 100vh;
  width: 10hw;
  margin: 0;
}

#menu {
  height: 100%;
  width: 25%;
  float: left;
}

#often {
  height: 100%;
  width: 75%;
  float: right;
  background-color: blueviolet;
}

#title {
  padding-top: 1vh;
  background-color: #050;
}

#cuerpo {
  padding-bottom: 1vh;
}
