#principal {
  height: 270vh;
  width: 100hw;
  margin: 0;
}

#menu {
  height: 100%;
  width: 25%;
  float: left;
  background: linear-gradient(to bottom,#3991FB, white);
}

#often {
  height: 100%;
  width: 75%;
    float: right;
  background: linear-gradient(to bottom,#3991FB, white);
}

#title {
  padding-top: 1vh;
  }

#cuerpo {
  padding-bottom: 1vh;
}
